@import url('https://fonts.googleapis.com/css2?family=Anton&family=Belanosima:wght@400;600;700&family=Ceviche+One&family=Chela+One&display=swap');

body {
    background-color: #0d1117;
    color: white;
    font-family: "Anton", serif;
    letter-spacing: 1px;
    text-align: center;
}
h1{
    display: flex;
    align-items: center;
}
#content{
    background-color: #272c36;
    border-radius: 50px;
    width: 100vw; /* Cambiado a 100vw para cubrir todo el ancho de la página */
    height: fit-content;
    font-family: "Funnel Display", serif;;
    text-align: justify;
    padding: 10%; /* Añadido padding para el contenido */
}
.gallery-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.gallery img {
    width: 100%;
    height: auto;
}
.indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.indicator {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.5;
}
.indicator.active {
    opacity: 1;
}